<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ method.name }}</title>
    
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link href='../styles/all.css' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="container">
        <div class="three columns">
            <ul class="links">
                {% for this_method in all_methods %}
                <li><a {% if this_method == method %}class="selected"{% endif %} href="/{{ method.name }}.html">
                    {{ this_method.name }}
                </a></li>
                {% endfor %}
            </ul>
        </div>
        <div id="content-wrapper" class="nine columns">
            <h1>{{ method.name }}</h1>
            <div id="content">
                {% if method.short_description is defined %}
                <h2 id="description">{{ method.short_description }}</h2>
                {% endif %}

                <h3>Syntax</h3>
                <pre>{{ method.syntax }}</pre>

                <table>
                    <tbody>
                        <tr>
                            <th>Argument</th>
                            <th>Description</th>
                        </tr>
                        {% for param in method.params %}
                        <tr>
                            <td>{{ param.name }}</td>
                            <td>{{ param.description }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% if method.return_value is defined %}
                <p><strong>Returns:</strong> {{ method.return_value }}</p>
                {% endif %}

                <h3>Description</h3>
                <p>{{ method.description }}</p>
            </div> <!-- #content -->
        </div> <!-- #content-wrapper -->
    </div>
    <div id="footer" class="text-center">
        {% block footer %}
        <small>Documentation thanks to <a href="http://gmldoc.com" target="_blank">GML&nbsp;Doc</a>. Want to support the project? Fork us on&nbsp;<a href="https://github.com/RaniSputnik/gmldoc" target="/blank">Github</a></small>
        {% endblock %}
    </div>
</body>
</html>