<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="//static.gmldoc.com">
    <link rel="dns-prefetch" href="//gmldoc.com">

    <title>{{ method.name }}</title>
    <meta name="description" content="{{ method.short_description }}">
    <meta name="abstract" content="Read documentation of high quality GameMaker extensions.">
    <meta name="keywords" content="{{ extension.name }}, extension, game maker, documentation, docs, support, gml, game maker language">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="http://static.gmldoc.com/img/favicon.ico" type="image/vnd.microsoft.icon">
    
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    {% if stylesheet_url is defined %}
    <link href='{{ stylesheet_url }}' rel='stylesheet' type='text/css'>
    {% else %}
    <link href='https://storage.googleapis.com/static.gmldoc.com/read/css/all.min.css' rel='stylesheet' type='text/css'>
    {% endif %}
</head>
<body>
    <div class="container">
        <div class="three columns">
            <ul class="links">
                {% for this_method in all_methods %}
                <li><a {% if this_method == method %}class="selected"{% endif %} href="./{{ this_method.name }}.html">
                    {{ this_method.name }}
                </a></li>
                {% endfor %}
            </ul>
        </div>
        <div id="content-wrapper" class="nine columns">
            <h1>{{ method.name }}</h1>
            <div id="content">
                {% if method.short_description is defined %}
                <h2 id="description">{{ method.short_description }}</h2>
                {% endif %}

                <h3>Syntax</h3>
                <pre>{{ method.syntax }}</pre>

                {% if method.params|length > 0 %}
                <table>
                    <tbody>
                        <tr>
                            <th>Argument</th>
                            <th>Description</th>
                        </tr>
                        {% for param in method.params %}
                        <tr>
                            <td>{{ param.name }}</td>
                            <td>{{ param.description }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}

                {% if method.return_value is defined %}
                <p><strong>Returns:</strong> {{ method.return_value }}</p>
                {% endif %}

                <h3>Description</h3>
                <p>{{ method.description }}</p>
            </div> <!-- #content -->
        </div> <!-- #content-wrapper -->
    </div>
    <div id="footer" class="text-center">
        {% block footer %}
        <small>Documentation thanks to <a href="http://gmldoc.com" target="_blank">GML&nbsp;Doc</a>. Want to support the project? Fork us on&nbsp;<a href="https://github.com/RaniSputnik/gmldoc" target="/blank">Github</a></small>
        {% endblock %}
    </div>
</body>
</html>