body, html {
    background: $colour-near-black;
    color: #eee;
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin:0;
}
body {
    padding: 1rem;
}

h1 {
    background: $colour-dark-green;
    font-size: 3rem;
    padding: 0.5rem 1rem;
    border-radius: 4px 4px 0 0;
    border-bottom: 2px solid $colour-light-green;
}
h3 {
    font-size: 2rem;
    color: #72B741;
}
#aside {
    overflow: hidden;
}
#content-wrapper {
    background: $colour-dark-grey;
    margin-bottom: 3rem;
}
#content {
    padding: 1rem;
}
ul.links {
    list-style: none;
    li {
        margin-bottom: 0;
        a.selected {
            color: #eee;
        }
    }
}
a {
    color: #72B741;
}
table {
    border-spacing: 0px;
}
td, th {
    padding: .5rem 2rem !important;
}
td {
    border: 1px solid #E1E1E1;
}
th {
    color: #72B741;
}
#footer {
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: $colour-near-black;
    color: #666;
    border-top: 1px solid $colour-dark-grey;
}
#footer a {
    color: #888;
} 